# MiniStory

you wake up in a room. a dark room. you do not remember how you got here. you are a bandit, very feared in your area, you survive on killing people and looting their belongings. maybe i was finally handcuffed thrown in jail, you wonder...

your hands seem to be binded by thick rope

you check your pockets and find... nothing, someone has stripped you of all what you have, you whisper to yourself:
'the mugger was mugged aye?'

check again?

you see three other unconscious people around you, they dont seem to own anything either

end of round

you wake up in a room. a dark room. you do not remember how you got here. you are a bandit,
